[Desktop Entry]
Type=Application
Name=Amfora
Icon=/usr/share/icons/hicolor/512x512/apps/amfora.png
GenericName=Gemini TUI Browser
Comment=Browse Gemini in the terminal.
Categories=Network;WebBrowser;ConsoleOnly;
Keywords=gemini
Terminal=true
Exec=amfora
MimeType=x-scheme-handler/gemini;
